
body{
    background-color: darkmagenta;
    background-image: 
}
h1{
    text-align: center;
    text-decoration: underline;
    color: white;
}
#name{
    width: 80%;
    padding: 5px;
    border-radius: 5%;
    outline: 0;
    border: 1px solid lightgray;
}
table {
    color: white;
    background-color: rgb(8. 48, 80);
    border-collapse: collapse;
    font-size: 16px;
    font-family: serif;
    padding: 5px;
    border: 5px solid white;
    text-align: -webkit-center;
}